In [1]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("Doc_reader").getOrCreate()

In [19]:
df = spark.read.text("DSA-For-Data-Engineer.txt")

In [21]:
df.count()

272

In [23]:
df.printSchema()

root
 |-- value: string (nullable = true)

In [25]:
df.head()

Row(value='ARRAYS')

display(df.show())

In [33]:
from pyspark.sql.functions import when,col,rlike

transformed_df = df.withColumn("Topic", when(col("value").rlike(r"^[ A-Z]"), col("value")).otherwise(None))  \
        .withColumn("Questions", when(col("value").rlike(r"^\d+\."), col("value")).otherwise(None))

In [35]:
transformed_df.printSchema()

root
 |-- value: string (nullable = true)
 |-- Topic: string (nullable = true)
 |-- Questions: string (nullable = true)

# EDA on the data

In [37]:
from pyspark.sql.functions import isnan, count

In [55]:
eda_df= transformed_df.select([count(col(c)).alias(c) for c in transformed_df.columns])
eda_df.show()

+-----+-----+---------+
|value|Topic|Questions|
+-----+-----+---------+
|  272|   12|      223|
+-----+-----+---------+

In [81]:
eda_null_df= transformed_df.select([count(when( isnan(c) | col(c).isNull(), c)).alias(f"{c}_null_val") for c in transformed_df.columns ])
eda_null_df.show()

+--------------+--------------+------------------+
|value_null_val|Topic_null_val|Questions_null_val|
+--------------+--------------+------------------+
|             0|           260|                49|
+--------------+--------------+------------------+

In [89]:
union_df= eda_df.union(eda_null_df)

In [91]:
union_df.show()

+-----+-----+---------+
|value|Topic|Questions|
+-----+-----+---------+
|  272|   12|      223|
|    0|  260|       49|
+-----+-----+---------+

# Finding the percentage of null values in columns in a dataframe

In [104]:

total_rows_count =transformed_df.count()

#initialize a empty list of tuple for tracking null_percentage of each column
null_percentages = []

for  c in transformed_df.columns:
    
    null_count = transformed_df.filter(col(c).isNull() | isnan(c)).count()
    
    null_percent = (null_count/ total_rows_count)*100
    
    null_percentages.append((c, round(null_percent, 3)))

In [106]:
percent_df = spark.createDataFrame(null_percentages, ["Column","Null_Percentages"])

percent_df.show()

+---------+----------------+
|   Column|Null_Percentages|
+---------+----------------+
|    value|             0.0|
|    Topic|          95.588|
|Questions|          18.015|
+---------+----------------+

# Cleaning columns

In [112]:
display(transformed_df.show())

+--------------------+------+--------------------+
|               value| Topic|           Questions|
+--------------------+------+--------------------+
|              ARRAYS|ARRAYS|                NULL|
|                    |  NULL|                NULL|
|1. Find 2 element...|  NULL|1. Find 2 element...|
| 2. Majority Element|  NULL| 2. Majority Element|
|3. Find the numbe...|  NULL|3. Find the numbe...|
|4. Merge an array...|  NULL|4. Merge an array...|
|  5. Rotate an array|  NULL|  5. Rotate an array|
|6. Leaders in an ...|  NULL|6. Leaders in an ...|
|7. Majority eleme...|  NULL|7. Majority eleme...|
|8. Segregate 0s a...|  NULL|8. Segregate 0s a...|
|    9. Product array|  NULL|    9. Product array|
|10. Find 2 repeat...|  NULL|10. Find 2 repeat...|
|11. Find the smal...|  NULL|11. Find the smal...|
|12. Find max j-i ...|  NULL|12. Find max j-i ...|
|13. Find subarray...|  NULL|13. Find subarray...|
|14. Find the smal...|  NULL|14. Find the smal...|
|15. Find 2 number...|  NULL|15. Find 2 number...|
|16. Largest subar...|  NULL|16. Largest subar...|
|17. Replace every...|  NULL|17. Replace every...|
|18. Stock buy sel...|  NULL|18. Stock buy sel...|
+--------------------+------+--------------------+
only showing top 20 rows

None

In [116]:
transformed_df=transformed_df.drop(col("value"))

In [118]:
transformed_df.show()

+------+--------------------+
| Topic|           Questions|
+------+--------------------+
|ARRAYS|                NULL|
|  NULL|                NULL|
|  NULL|1. Find 2 element...|
|  NULL| 2. Majority Element|
|  NULL|3. Find the numbe...|
|  NULL|4. Merge an array...|
|  NULL|  5. Rotate an array|
|  NULL|6. Leaders in an ...|
|  NULL|7. Majority eleme...|
|  NULL|8. Segregate 0s a...|
|  NULL|    9. Product array|
|  NULL|10. Find 2 repeat...|
|  NULL|11. Find the smal...|
|  NULL|12. Find max j-i ...|
|  NULL|13. Find subarray...|
|  NULL|14. Find the smal...|
|  NULL|15. Find 2 number...|
|  NULL|16. Largest subar...|
|  NULL|17. Replace every...|
|  NULL|18. Stock buy sel...|
+------+--------------------+
only showing top 20 rows

# Replacing none with blanks

In [121]:
transformed_df = transformed_df.fillna("")

In [123]:
transformed_df.show()

+------+--------------------+
| Topic|           Questions|
+------+--------------------+
|ARRAYS|                    |
|      |                    |
|      |1. Find 2 element...|
|      | 2. Majority Element|
|      |3. Find the numbe...|
|      |4. Merge an array...|
|      |  5. Rotate an array|
|      |6. Leaders in an ...|
|      |7. Majority eleme...|
|      |8. Segregate 0s a...|
|      |    9. Product array|
|      |10. Find 2 repeat...|
|      |11. Find the smal...|
|      |12. Find max j-i ...|
|      |13. Find subarray...|
|      |14. Find the smal...|
|      |15. Find 2 number...|
|      |16. Largest subar...|
|      |17. Replace every...|
|      |18. Stock buy sel...|
+------+--------------------+
only showing top 20 rows

# saving the clean file as csv

In [127]:
transformed_df.write.csv('DSA_practice.csv', header=True, mode='overwrite')